body {
  margin:0;
  font-family:Arial, sans-serif;
  background:#f4f6f9;
}

header {
  background:#111;
  color:white;
  padding:18px;
  text-align:center;
  font-size:22px;
}

.container {
  max-width:900px;
  margin:auto;
  padding:20px;
  background:white;
  margin-top:20px;
  border-radius:10px;
  box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

button {
  padding:10px 20px;
  background:#111;
  color:white;
  border:none;
  border-radius:5px;
  cursor:pointer;
}

button:hover {
  background:#333;
}

footer {
  margin-top:40px;
  background:#111;
  color:white;
  text-align:center;
  padding:15px;
}
